x.txt
*py~
old
x2.txt
*txt~
*~
.svn
.kdev4
miscx
dist
oacode.kdev4
oaconfigcheck.txt
example.so
pythondevelop
OA.kdevelop*
*pyc
hopper
testing
vsc
build
buildx
OAlib.egg-info
OApackage.egg-info
oatest2.cpp
oalib_wrapR.o
scripts/scanf.py.bak
scripts/style.css
scripts/test.oa
testsuite/
OA.kdevses
PrecompiledHeader.cmake
TestingCommands
.Rhistory
TNO
TODO
htnml
html
src/oadevelop.h
src/oadevelop.cpp
performancetest/result-56.2-2-2-2-2-2.oa
performancetest/result-56.2-2-2-2-2.oa
performancetest/result-56.2-2-2-2.oa
oalib_wrap_dev.cxx
performancetest/test0-06102012.txt
performancetest/test0-16072013.txt
performancetest/test0-22012012.txt
performancetest/test0-22112014.txt
performancetest/test0-23032012.txt
performancetest/test0-25112012.txt
