# Temp files
*py~

# Build system
cbuild
build
buildx
OAlib.egg-info
.vscode
OApackage.egg-info
.mypy_cache
_oalib.*pyd
_build
.cache

# IDE
.idea/
.pytest_cache/
.kdev4
.spyproject/

# Config
.pylintrc

# Misc
.claude
.eggs
old
*txt~
*~
miscx
dist
oacode.kdev4
oaconfigcheck.txt
example.so
pythondevelop
OA.kdevelop*
*pyc
hopper
testing
vsc
oatest2.cpp
scripts/style.css
scripts/test.oa
testsuite/
OA.kdevses
PrecompiledHeader.cmake
TestingCommands
.Rhistory
TNO
TODO
htnml
html
performancetest/result-56*.oa
oalib_wrap_dev.cxx
performancetest/test0-*.txt
tools.o
xml
mexstandalone.h
_oalib.so
oalib_wrap.cxx
oalib.py
wheelhouse
get-pip.py
oapackage.kdev4
legacy
_oalib.cpython-34m.so
examples/.gitignore
src/.gitignore
src/oapackage.so
.Rdata
.RData
src/stest
src/oadevelop.o
dev/
oalib_wrap.cpp
swig_doc.i
testdata/sp0-split-567-extend-64.2-2-2-2-2-2-2-2-2.oa
testdata/gr.oa
testdata/sp0-split-545-sp1-split-26-sp2-split-4.oa
tmp
*.oa
*h.orig
*cpp.orig
_oalib.cpython-35m-x86_64-linux-gnu.so
.coverage
workshop
ClusterCommands
Deff.o
Doptim.o
InfInt.o
arrayproperties.o
arraytools.o
pareto.o
md5.o
mathtools.o
oaoptions.o
strength.o
anyoption.o
untitled*.py
untitled*.ipynb
modules.rst
oapackage.rst
oapackage.*.rst
setup.rst
oalib.rst
get_artifacts.py
