exclude: 'doc/conf.py'

repos:
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.9.1
  hooks:
    - id: nbqa-black
      additional_dependencies: [black==23.1]
    - id: nbqa-ruff
      args: [--fix, --exit-non-zero-on-fix]

- repo: https://github.com/charliermarsh/ruff-pre-commit
  # Ruff version.
  rev: 'v0.14.5'
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format   

#- repo: https://gitlab.com/daverona/pre-commit/cpp
#  rev: 0.8.0                 # use the most recent version
#  hooks:
#  - id: docker-clang-format  # clang-format in Docker container
