image: Visual Studio 2022

environment:
  global:
    # See: http://stackoverflow.com/a/13751649/163740
    WITH_COMPILER: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_compiler.cmd"
    CMD_IN_ENV310: "cmd /E:ON /V:ON /C .\\appveyor\\run_with_env310.cmd"

  matrix:
    - PYTHON: "C:\\Python310-x64"
      PYTHON_VERSION: "3.10"
    - PYTHON: "C:\\Python314-x64"
      PYTHON_VERSION: "3.14.0"
    - PYTHON: "C:\\Python311-x64"
      PYTHON_VERSION: "3.11"
    - PYTHON: "C:\\Python312-x64"
      PYTHON_VERSION: "3.12"
    - PYTHON: "C:\\Python313-x64"
      PYTHON_VERSION: "3.13"

matrix:
  fast_finish: true

init:
  - "ECHO Python %PYTHON_VERSION% at %PYTHON%"

install:
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - "python --version"
  - "python -c \"import struct; print('pointer size:', struct.calcsize('P') * 8, 'bit')\""

  - "python -m pip install --upgrade pip setuptools wheel build"
  - "pip install python-dateutil numpy matplotlib pytest jupyter"

  - choco install swig -y

  # Install jupyter and mypy only for Python 3.10
  - ps: |
      if ($env:PYTHON_VERSION -eq "3.10") {
        pip install jupyter mypy types-python-dateutil mock
      }

build_script:
  # Build wheel once, then install from it (avoids compiling twice)
  - "python -m pip wheel . -w dist --no-deps"
  - ps: "pip install (Get-ChildItem dist/*.whl)"

test_script:
  - "pytest"
  - "python -c \"import oapackage; print(oapackage)\""

  # Run mypy and notebooks only for Python 3.10
  - ps: |
      if ($env:PYTHON_VERSION -eq "3.10") {
        mypy --version
        mypy -p oapackage --follow-imports skip
      }
  - jupyter nbconvert --to notebook --execute  docs/examples/example_alan.ipynb
  - echo $?
  - "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_alan.ipynb "
  - ps: |
      if ($env:PYTHON_VERSION -eq "3.10") {
          jupyter nbconvert --to notebook --execute  docs/examples/conference_design_isomorphism.ipynb
      }
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/conference_design_isomorphism.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_conference_designs.ipynb"
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_delete_one_factor_projections.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_designs.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_design_generation.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_generation_optimal_designs.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_nauty.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_oapackage.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_oa_files.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_optimal_orthogonal_arrays.ipynb "
  #- "%CMD_IN_ENV310% jupyter nbconvert --to notebook --execute  docs/examples/example_pareto.ipynb "

after_test:
  # Wheel already built in build_script, just build sdist
  - "python -m build --sdist"
#  - ps: |
#      if ($env:PYTHON_VERSION -eq "3.10") {
#        python -m build --sdist
#      }
#  - ps: "Get-ChildItem dist"

artifacts:
  - path: dist\*
    name: binaries
