include README.md
include FORMAT.txt
include LICENSE
include CMakeLists.txt
include oadoxy.i
include oaconfig.txt
include numpy.i
include mex/compile.m

#include example.r
#include oalib_wrap.cxx

recursive-include src *.h *.cpp
recursive-include src/nauty *.h *.cpp *.c
include src/nauty/nauty.h

#graft python
#graft oalib
graft src/Eigen
graft utils
exclude TODO
exclude oalib_wrap_dev.cxx
exclude oalib_wrap.cxx
#exclude oalib.py

# do not include development code
exclude dev/oadevelop.cpp
exclude dev/oadevelop.h
exclude utils/oa_depth_extend.cpp
exclude utils/oatest.cpp
exclude utils/oaclustergather.cpp


